body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    line-height: 1.6;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 0px;
    border-bottom: 2px solid #007bff;
}

h2, h4 {
    color: #333;
    margin-bottom: 20px;
    padding-bottom: 0px;
}

form {
    margin-bottom: 20px;
}

input[type="file"], input[type="date"] {
    padding: 12px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

input[type="file"]:hover, input[type="date"]:hover {
    background-color: #f0f0f0;
    border-color: #007bff;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.logout-link {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.logout-link:hover {
    background-color: #007bff;
    color: #fff;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

label {
    font-size: 16px;
    font-weight: bold;
}

#loadingMessage {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

/* Form group styles */
.form-group {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjusts the space between elements */
    margin-bottom: 20px;
}

input[type="date"] {
    flex: 0 0 20%;
}

input[type="file"] {
    flex: 1;
}

/* Responsive design */
@media (max-width: 600px) {
    .container {
        padding: 10px;
        margin: 10px;
    }

    .form-group {
        flex-direction: column;
    }

    input[type="file"], input[type="date"] {
        width: 100%;
    }

    input[type="submit"] {
        width: 100%;
        padding: 12px;
        font-size: 18px;
    }

    .delete-button {
        margin-left: 0;
        margin-top: 20px; /* Adds a gap when in column layout */
    }

    label {
        font-size: 18px;
    }

    h2, h4 {
        font-size: 22px;
        margin-bottom: 15px;
    }
}
