<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload and Download</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <h2>Night Shift Calculation</h2>

         <!-- Date Picker Section -->
         <label for="datePicker">Select Date: </label>
         <input type="date" id="datePicker" name="datePicker">
         <br>

        <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file[]" multiple>
            <input type="submit" value="Upload">
        </form>
        {% if uploads_count > 0 %}
        <h5>{{ uploads_count }} file(s) uploaded in the uploads folder.</h5>
        {% endif %}
        
        <h4>Upload the following files:</h4>
        <ul>
            <li>Previous day APC file (APC_dd.mm.yyyy.xlsx)</li>
            <li>Daily generation report (DAILY GENERATION REPORT ON THE DATE dd.mm.yyyy.xlsx)</li>
            <li>Full schedule data from RLDC website for both stage (.xlsx format)</li>
            <li>ABT report with DC, AG selected (Report_1.xls and Report_2.xls)</li>
            <li>PI data file (PI dd.mm.yyyy.xlsx)</li>
            <li>AGC data file of both stage (Talcher1/2_dd_mm_yyyy.csv)</li>
        </ul>
        <h3>Generated Files:</h3>
        <ul>
            {% for file in files %}
            <li><a href="/download/generated/{{ file }}">{{ file }}</a></li>
            {% endfor %}
        </ul>
        <div id="loadingMessage" style="display: none;">Generating... Please wait.</div>
        <br>
        <form id="generateForm" method="post" action="/generate" style="display: inline">
            <input type="submit" value="Generate Files">
        </form>
        <form action="/delete_all" method="get" style="display: inline">
            <input type="submit" value="Delete All Files">
        </form>
    </div>

    <!-- Pass error message to JavaScript -->
    <script>
        window.errorMessage = "{{ error }}";
    </script>
</body>
</html>
